body {
  margin: 0;
  text-align: center;
  font-family: "Acme", sans-serif;
  font-size: 2em;
  color: #40513e;
}

h1 {
  color: #66bfbf;
  margin: 50px auto 0 auto;
  font-size: 5.26rem;
  font-family: "Dancing Script", cursive;
}

.para {
  color: #66bfbf;
  font-size: 2.5rem;
  font-family: "EB Garamond", serif;
}

h2 {
  color: #66bfbf;
  font-size: 2.5rem;
  font-family: "EB Garamond", serif;
}

h3 {
  color: #11999e;
  font-family: "EB Garamond", serif;
}
.top {
  padding-top: 100px;
  background-color: #c8eee6;
  position: relative;
}

/* .middle{
    height: 200px;
    width: 200px;
    background-color: red;

}

.bottom{
    height: 200px;
    width: 200px;
    background-color: blue;

} */

.bottom-cloud {
  position: absolute;
  left: 250px;
}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 40px;
}
span {
  text-decoration: underline;
}

.profile-img {
  height: 180px;
  width: 180px;
  float: left;
}

.skill-img {
  height: 160px;
  width: 160px;
  float: left;
  margin-left: 0%;
}

.skill-to-be-learnt-img {
  height: 160px;
  width: 160px;
  float: left;
  margin-right: 0%;
}

.skills {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.profile {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Acme", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 40px auto 60px;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.bottom-container {
  background-color: #66bfbf;
  margin-top: 40px;
  padding: 50px 0 20px;
}

a{
    color: #11999e;
    font-family: "Acme", sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color: #eaf6f6;
}

.copyright{
    color: #eaf6f6;
}


p {
  line-height: 2;
}

hr {
  border: dotted #b0b3b3 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
